//-------------------------------------
// A complete CSS reset
//-------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

blockquote,
figcaption,
fieldset,
address,
article,
caption,
details,
section,
summary,
canvas,
figure,
footer,
header,
hgroup,
iframe,
legend,
object,
output,
strong,
aside,
audio,
embed,
label,
small,
table,
tbody,
tfoot,
thead,
video,
abbr,
body,
cite,
code,
form,
html,
main,
mark,
menu,
ruby,
samp,
span,
time,
del,
dfn,
div,
img,
ins,
kbd,
nav,
pre,
sub,
sup,
var,
em,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
td,
th,
tr,
ul,
a,
b,
i,
p,
q,
s {
  margin: 0;
  border: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}
