//-------------------------------------
// Basic typography styles
//-------------------------------------

.lead {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.3rem;
}

.section__title {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 100;
}

.text__center {
  text-align: center;
}
