//-------------------------------------
// All application-wide Sass variables
//-------------------------------------

// Colors
$clr-main: #ffbc00;
$clr-light: #f4f4f4;
$clr-medium: #ccc;
$clr-dark: #333;

// Misc.
$website-width: 1200px;
$img-background: url('../assets/img/showcase.jpg');
