//-------------------------------------
// All styles related to the
// button component
//-------------------------------------

@use '../utilities/variables' as v;

%btn__shared {
  display: inline-block;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  border: none;
  padding: 0.8rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  &__main {
    background-color: v.$clr__primary;
    color: #333;
    @extend %btn__shared;
  }

  &__light {
    background-color: v.$clr__light;
    color: #333;
    @extend %btn__shared;
  }

  &__dark {
    background-color: v.$clr__dark;
    color: v.$clr__light;
    @extend %btn__shared;
  }
}

button[class^='btn__']:hover,
a[class^='btn__']:hover,
input[class^='btn__']:hover {
  background-color: v.$clr__primary;
}
