//-------------------------------------
// All styles related to the
// container component
//-------------------------------------

@use '../utilities/variables' as v;

.container {
  overflow: hidden;
  margin: auto;
  max-width: v.$website-width;
  padding: 0 1.5rem;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

// margin
.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }

  &-4 {
    margin: 4rem 0;
  }
}

.line__bottom {
  display: block;
  background-color: v.$clr__primary;
  margin: 0 auto 1rem auto;
  height: 2px;
  width: 3rem;
}
