//-------------------------------------
// All styles related to the header
// of the site/application
//-------------------------------------

@use '../utilities/variables' as v;

#header {
  &__home {
    background: v.$img-background no-repeat center right / cover;
    color: #fff;
    height: 100vh;

    .header__content {
      padding-top: 20%;
      text-align: center;

      h1 {
        line-height: 1.2;
        font-size: 4rem;
      }
    }
  }
}
