//-------------------------------------
// All styles related to the
// navigation of the site/application
//-------------------------------------

// Logo
#logo {
  color: #fff;
  height: 70px;
  width: 70px;
  text-transform: uppercase;
}
